<% include ./partials/header%> 
    <div class="container">
      <div class="page-header">
        <h1>Experience</h1>        
      </div>
      <div class="page-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jr. Web Developer</h5>
                        <p class="card-text">
                        <ul>
                            <li>Developed and design front end for more than 10 websites utilizing HTML, JavaScript, CSS</li>
                            <li>Acted as a liaison between development team and client for gathering business & functional 
                                specifications and communicating project status reports and updates</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Java Developer Trainee</h5>
                        <ul>
                            <li>Developed Networking Software Application using Java Programming</li>
                            <li>Practiced MySQL as Database</li>
                            <li>Used Net Beans 7.1.1 </li>
                            <li>Write Reports and Code in Professional manner</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row" id="page-body2">
            <div class="col-md-12">
                <h4><b>Other Experience</b></h4>
            </div>
            <div class="col-md-12">
                Customer Service Reprentative, Pho Lien, Whitehorse
            </div>   
            <div class="col-md-12">
                Support Manager, Walmart Canada, Whitehorse
            </div>   
        </div>
    </div>

<% include partials/footer %>