<% include ./partials/header%> 
    <div class="container">
      <div class="page-header">
        <h1>Hire Me</h1>
      </div>
      <div class="col-12 page-body">
You will find that my skillset, experience, and qualifications meet your requirements for Web Developer. 
I have a bachelor’s degree in computer engineering 
from Gujarat Technological University, IN and graduated from centennial college, ON in software engineer technology. 
 <br><br>
In my role as Jr. Web Developer/Designer I was required to develop 
and design customer facing website, application using my Knowledge of JavaScript,
 HTML. I also developed different website using HTML, CSS, JavaScript and Bootstrap. 
 <br><br>
In addition, I was responsible to write report and do coding in professional manner. 
 <br><br>
For more detailed information, please refer to my enclosed <a href="/assets/others/Resume_Ankit Patel.pdf" id="resume">resume</a>. 
 <br><br>
I am confident that my diverse range of skills and experience will be an asset 
to your Company. I hope you find my application holds substantial proof to invite me for an interview. 
I look forward to talking with you. Thank you for your time. 
      </div>
    </div>
<% include partials/footer %>