<% include ./partials/header%> 
    <div class="container">
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      <div class="page-body">
        <div class="row" >
            <div class= "col-md-4">
                <h2>Park Smartly</h2>
                    Designed a Website to solve current parking issues in multistory building using Agile Software  development Methodology 
                    <br>Developed a Website to show nearest parking space and to find a car 
                    <br>developed a Website to book  online parking space and to extend parking hours 
                    <br>Developed and designed Software using C#.net, MS SQL Server and MS Visual Studio

            </div>
            <div class= "col-md-8">
                <img class="projectImage"src="/assets/images/project_1.png"/>
            </div>
        </div>
        <div class="row" >
                <div class= "col-md-8">
                    <img class="projectImage" id="image2"src="/assets/images/project_2.png"/>
                </div>
            <div class= "col-md-4" id="project2">
                <h2>Online Movie Booking System</h2>
                    Designed an Advanced Java based Web Application and Practiced MVC Framework
                    <br>Developed Web Application to book movie online and to cancel reservation of movie  
                    <br>Developed and designed website using Java, MySQL and Eclipse  
            </div>
        </div>
         <div class="row" >
            <div class= "col-md-4" id="project3">
                <h2>Administrative Controlling System</h2>
                    Designed an Advanced Java based Networking Application using the incremental build model
                    <br>Designed a Software to help administrators to help them monitor and control the computers in the local area network
                    <br>Developed Software to File Transfer and Communication among the computers  
                    <br>Developed and designed Software using Java, MySQL and NetBeans 7.1.1
                </div>
            <div class= "col-md-8">
                <img class="projectImage"src="/assets/images/project_3.jpg"/>
            </div>
        </div>
    </div>

<% include partials/footer %>