<% include ./partials/header%> 
    <div class="container">
      <div class="page-header">
        <h1>SkillS</h1>
      </div>
      <div class="page-body">
        <ul>
            <li>HTML, CSS, JavaScripts ---------  Experinced</li>
            <li>jQuery, Node JS, Anguler Js ----- Experinced</li>
            <li>MongoDB, Express, Bootstrap ----- Experinced</li>
            <li>MySQL, MS Access, Oracle -------- Experinced</li>            
            <li>MS Visual Studio/Code, Eclipse -- Experinced</li>
        </ul>  
      <div>
      <a href="/assets/others/Resume_Ankit Patel.pdf" class="btn btn-lg">For More Details</a>
    </div>
<% include partials/footer %>